.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: rgb(176, 237, 255);
}
.card-header {
  font-size: x-large !important;
  text-align: center;
  text-shadow: 2px 2px #000000;
  background-color: rgb(116, 223, 223) !important;
}

.card-body {
  text-align: center;
  background-color: rgb(136, 136, 136);
}

.card {
  background-color: rgb(116, 223, 223);
  box-shadow: 5px 5px #0000009c;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 252, 250, 1) 100%
  );

  display: flex;
  align-content: center;
}

.container {
  width: 1200px;
  height: 550px;
}

#balanceField {
  text-shadow: 2px 2px #000000;
  color: rgb(52, 255, 52);
}

#loginField {
  text-shadow: 2px 2px #000000;
  color: yellow;
}

#myTable {
  background-color: rgba(255, 255, 255, 0.228);
}
