.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-header {
  font-size: x-large !important;
  text-align: center;
  text-shadow: 2px 2px #000000;
  background-color: rgb(116, 223, 223) !important;
}

.card-body {
  text-align: center;
  background-color: rgb(108, 108, 108);
}

.card {
  background-color: rgb(116, 223, 223);
  box-shadow: 5px 5px #0000009c;
  overflow: hidden;

  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 252, 250, 1) 100%
  );

  display: flex;
  align-content: center;
}

#balanceField {
  text-shadow: 2px 2px #000000;
  color: rgb(21, 255, 21);
}

#loginField {
  text-shadow: 2px 2px #000000;
  color: rgb(255, 255, 139);
}

#myTable {
  background-color: rgba(255, 255, 255, 0.228);
}

.sliding-background {
  background: url("./clouds.png") repeat-x;
  background-position: bottom;
  background-size: contain;
  height: 325px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

.container {
  overflow: hidden;
}

.card-align-items-center {
  width: 100%;
  background-color: black;
}

#body {
  background: rgb(254, 255, 239);
}
